

.carousel-wrapper {

  padding: 10px;
  height: 100%;
  width: 100%;

}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 0px;
  opacity: 0;
  transition: all 0.5s ease-in-out;

}
.arrow{
  border: solid #03ffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}
.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);

}
.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^= "item-sys-gym"] {
  display: none;

}
.item-1-sys-gym {
  
  z-index: 2;
  opacity: 1;
  background: url('../img/proyectos/sys-gym1.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  
}
.item-2-sys-gym {
  background: url('../img/proyectos/sys-gym2.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.item-3-sys-gym {
  background: url('../img/proyectos/sys-gym3.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.item-4-sys-gym {
  background: url('../img/proyectos/sys-gym4.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.item-5-sys-gym {
  background: url('../img/proyectos/sys-gym5.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.item-6-sys-gym {
  background: url('../img/proyectos/sys-gym6.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
.item-7-sys-gym {
  background: url('../img/proyectos/sys-gym7.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

*:target ~ .item-1-sys-gym{
  opacity: 0;
  
}
#item-1-sys-gym:target ~ .item-1-sys-gym {
  opacity: 1;

}
#item-2-sys-gym:target ~ .item-2-sys-gym, #item-3-sys-gym:target ~ .item-3-sys-gym,#item-4-sys-gym:target ~ .item-4-sys-gym, #item-5-sys-gym:target ~ .item-5-sys-gym, #item-6-sys-gym:target ~ .item-6-sys-gym, #item-7-sys-gym:target ~ .item-7-sys-gym {
  z-index: 3;
  opacity: 1;
} 

/* @media (min-width:360px) AND (max-width: 600px) {
  .item-1, .item-2.item-3 {

  }
  .carousel-item {
 
  }

  .carousel-wrapper {

  
  }
} */