.container-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.carousel-sys-gym-1 {
    background-image: url("/src/assets/img/proyectos/sys-gym1.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: aparecer .5s ease-in;
}

.carousel-sys-gym-2 {
    background-image: url("/src/assets/img/proyectos/sys-gym2.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: aparecer .5s ease-in;
}
.carousel-sys-gym-3 {
    background-image: url("/src/assets/img/proyectos/sys-gym3.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: aparecer .5s ease-in;
}
.carousel-sys-gym-4 {
    background-image: url("/src/assets/img/proyectos/sys-gym4.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: aparecer .5s ease-in;
}
.carousel-sys-gym-5 {
    background-image: url("/src/assets/img/proyectos/sys-gym5.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: aparecer .5s ease-in;
}
.carousel-sys-gym-6 {
    background-image: url("/src/assets/img/proyectos/sys-gym6.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: aparecer .5s ease-in;
}
.carousel-sys-gym-7 {
    background-image: url("/src/assets/img/proyectos/sys-gym7.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: aparecer .5s ease-in;
}

.carousel-jbombicino-1 {
    background-image: url("/src/assets/img/proyectos/jbombicino1.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: aparecer .5s ease-in;
}
.carousel-jbombicino-2 {
    background-image: url("/src/assets/img/proyectos/jbombicino2.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: aparecer .5s ease-in;
}
.carousel-jbombicino-3 {
    background-image: url("/src/assets/img/proyectos/jbombicino3.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: aparecer .5s ease-in;
}
.carousel-sys-turnos-1 {
    background-image: url("/src/assets/img/proyectos/sys-turnos1.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: aparecer .5s ease-in;
}

.carousel-sys-turnos-2 {
    background-image: url("/src/assets/img/proyectos/sys-turnos2.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: aparecer .5s ease-in;
}
.carousel-sys-turnos-3 {
    background-image: url("/src/assets/img/proyectos/sys-turnos3.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: aparecer .5s ease-in;
}
.carousel-sys-turnos-4 {
    background-image: url("/src/assets/img/proyectos/sys-turnos4.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: aparecer .5s ease-in;
}

.container-carousel img {
    
    position: absolute;
    width: 65px;
    height: 65px;
}

.container-carousel .left {
    left: 15px;
    top: 44%;
    background-color: aliceblue;
    border-radius: 50%;
    opacity: .5;
}

.container-carousel .right {
    right: 15px;
    top: 44%;
    background-color: aliceblue;
    border-radius: 50%;
    opacity: .5;
}

.container-carousel .left:hover {

    background-color: #03ffff;
    cursor: pointer;
    opacity: 1;
    transition: all .5s ease-in;
}

.container-carousel .right:hover {

    background-color: #03ffff;
    cursor: pointer;
    opacity: 1;
    transition: all .5s ease-in;
}

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }