.container-index {
  font-family: "Euclid Circular A", "Poppins";
  color: #ddfdfd;
  background: #050808;
  animation: aparecer .5s ease-in;

}

.box-btn-ingresar {

  display: flex;
  align-items: center;
  justify-content: right;

}

.banner {
  transform: translateY(-30px);
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column-reverse;
  gap: 30px;
  max-width: 1000px;
  padding: 0 80px;
  text-align: center;
  height: 100vh;
  background: #050808;

} 

.banner .card-index {
  padding: 60px 25px 60px 25px;
  border: 3px solid #03ffff;
  border-radius: 20px;
  opacity: .50;
}

.banner .card-index:hover {
  padding: 60px 25px 60px 25px;
  border: 3px solid #03ffff;
  border-radius: 20px;
  animation: aparecerCard .5s forwards;
}



.banner .card-index img {

  transform: translateY(-10px);
  width: 150px;
  transition: 0.1s linear;

}


.banner h2 {
  font-weight: 500;
  font-size: 30px;
  margin: 0 0 10px;
}

.banner p {
  margin: 0;
  line-height: 1.65;
  font-size: 17px;
  opacity: 0.7;
}

@media (min-width: 360px) AND (max-width:419px) {

  .banner .card-index {
    padding: 30px 25px 30px 25px;
    border: 3px solid #03ffff;
    border-radius: 20px;
    opacity: .50;
    font-size: .8rem;

  }
  
  .banner .card-index:hover {
    padding: 30px 15px 30px 15px;
    border: 3px solid #03ffff;
    border-radius: 20px;
    animation: aparecerCard .5s forwards;
  }

  .banner .card-index img {

    transform: translateY(-10px);
    width: 80px;
    transition: 0.1s linear;
  
  }

  .banner-content p {
    font-size: .8rem;
  }
  .banner-content h2 {
    font-size: .8rem;
  }
}

@media (min-width:420px) AND (max-width: 649px) {

  .banner {
    transform: translateY(-50px);
  }
  .banner > img {
    width: 150px;
    transform: translateY(-10px);
  }

  .banner .card-index {
    padding: 35px 15px 35px 15px;
    border: 3px solid #03ffff;
    border-radius: 20px;
    opacity: .50;
    font-size: .9rem;
    transform: translateY(25px);
  }
  
  .banner .card-index:hover {
    padding: 35px 15px 35px 15px;
    border: 3px solid #03ffff;
    border-radius: 20px;
    animation: aparecerCardBotRes .5s forwards;
  }

  .banner .card-index img {

    transform: translateY(-10px);
    width: 100px;
    transition: 0.1s linear;
  
  }

  .banner-content {
    transform: translateY(20px);
  }

  .banner-content p {
    font-size: .9rem;
  }
  .banner-content h2 {
    font-size: .9rem;
  }
}
@media (width >= 999px) {
  .banner {
    justify-content: center;
    text-align: center;
  }  
}

@media (width >= 648px) {
  .banner {
    justify-content: center;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;

  }

  .banner > img {
    width: 240px;
  }
}

@media (width >= 520px) {
  .banner img {
    width: 170px;
  }
}

.waves > use {
  animation: move-forever 2s -2s linear infinite;
}

.waves > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 6s;
}
.waves > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
}

.foto-yo {
  border-radius: 50%;
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecerCard {
  0% {
    opacity: .5;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(-25px);
  }
}

@keyframes aparecerCardBotRes {
  0% {
    opacity: .5;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(-7px);
  }
}

svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30vw;
  max-height: 200px;
}
