
.container-skills {
    
    width: 100%;
    height: inherit;
    background-image: url("../assets/bg.jpg");
    background-size:auto;
    background-repeat: repeat;
    transition: 0.5s;
    animation: aparecer .5s ease-in;
    padding-bottom: 30px;
} 

.container-skills article h1 {
    margin: 25px;
    font-size: 45px;
    width: 100%;
    display: block;
    text-align: center;
}

.container-boton-volver {
    transform: translate(-20px,20px);
    display: flex;
    justify-content: right;
    align-items: center;
}

.container-skills article .container-box-skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: inherit;
}

.container-skills article h1 {
    display: block;
}

.container-box-skills .box-skills {
    margin: 15px;
    background-color: rgb(163, 162, 162);
    border: 4px solid #03ffff;
    border-radius: 8%;

    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-box-skills .box-skills .tittle-skills {
    font-size: 2rem;
    color: black;
}

.container-box-skills .box-skills img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 10px;
}
.container-box-skills .box-skills .img-javascript {
    transform: scale(1.7);

}

.container-box-skills .box-skills .img-react {
    transform: scale(1.8);
}

.container-box-skills .box-skills .img-nodejs {
    transform: scale(1.4);
}

.container-box-skills .box-skills .img-python {
    transform: scale(1.8);
}

.container-box-skills .box-skills .img-mysql {
    transform: scale(1.5);
}

.container-box-skills .box-skills .img-gitgithub {
    transform: scale(1.5);
}

.container-box-skills .box-skills .img-typescript {
    transform: scale(.9);
}


.container-box-skills .box-skills .points-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    width: 150px;
    height: 80px;
    align-items: center;
    justify-content: center;
    transform: translateX(-14px);
}

