
.container-skills {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/bg.jpg");
    background-size:auto;
    background-repeat: repeat;
    transition: 0.5s;
    animation: aparecer .5s ease-in;
    padding-bottom: 30px;
} 

.container-skills article h1 {
    margin: 25px;
    font-size: 45px;
    width: 100%;
    display: block;
    text-align: center;
}

.container-boton-volver {
    transform: translate(-20px,20px);
    display: flex;
    justify-content: right;
    align-items: center;
}


.container-skills article .container-box-skills {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.container-skills article h1 {
    display: block;
}

.container-box-skills .box-skills {
    margin: 15px;
    background-color: rgb(163, 162, 162);
    border: 4px solid #03ffff;
    border-radius: 8%;

    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-box-skills .box-skills:hover {
    -webkit-box-shadow: 0px 0px 48px 5px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 48px 5px rgba(255,255,255,1);
    box-shadow: 0px 0px 48px 5px rgba(255,255,255,1);
    transition: all .5s;
}

.container-box-skills .box-skills .tittle-skills {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    color: black;
    font-weight: 800;
    transform: translateY(5px);
}

.container-box-skills .box-skills img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 10px;
}
.container-box-skills .box-skills .img-javascript {
    transform: scale(1.7);

}

.container-box-skills .box-skills .img-react {
    transform: scale(1.8);
}

.container-box-skills .box-skills .img-nodejs {
    transform: scale(1.4);
}

.container-box-skills .box-skills .img-python {
    transform: scale(1.8);
}

.container-box-skills .box-skills .img-mysql {
    transform: scale(1.5);
}

.container-box-skills .box-skills .img-gitgithub {
    transform: scale(1.5);
}

.container-box-skills .box-skills .img-typescript {
    transform: scale(.9);
}


.container-box-skills .box-skills .points-skills {
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 130%;
    border-radius: 20px;
    height: 80px;
    align-items: center;
    justify-content: center;
    transform: scale(.7);
}

.container-box-skills .box-skills .points-skills img {
    width: 30px;
    height: 30px;
    transform: scale(1.8);
}

